@use "./styles/responsive.scss" as *;

#root {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  cursor: pointer;

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  background: linear-gradient(120deg,
      var(--color-gradient-start),
      var(--color-gradient-mid),
      var(--color-gradient-end));
  color: var(--color-bg);
  font-weight: 500;
  box-shadow:
    0 10px 30px 0 rgba($color: #a37ff6, $alpha: 0.4),
    inset 0 4px 7px 0 rgba($color: #ffffff, $alpha: 0.35);
  transition: all 0.3s ease;
  color: white;

  &:hover {
    box-shadow:
      0 12px 40px 0 rgba($color: #a37ff6, $alpha: 0.5),
      inset 0 4px 7px 0 rgba($color: #ffffff, $alpha: 0.4);
  }

  &:disabled {
    box-shadow: inset 0 4px 7px 0 rgba($color: #ffffff, $alpha: 0.4);
  }

  @include sm-down {
    font-size: 0.7rem;
    box-shadow:
      0 5px 10px 0 rgba($color: #a37ff6, $alpha: 0.4),
      inset 0 4px 7px 0 rgba($color: #ffffff, $alpha: 0.35);
  }
}

.btn-secondary-outline {
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: #000000;
  box-shadow:
    0 10px 30px 0 rgba($color: #a37ff6, $alpha: 0.2),
    inset 0 4px 7px 0 rgba($color: #d3bfff, $alpha: 0.25);
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba($color: #d3bfff, $alpha: 0.3);
    box-shadow:
      0 12px 40px 0 rgba($color: #a37ff6, $alpha: 0.4),
      inset 0 4px 7px 0 rgba($color: #ffffff, $alpha: 0.4);
  }

  @include sm-down {
    font-size: 0.7rem;
    box-shadow:
      0 5px 10px 0 rgba($color: #a37ff6, $alpha: 0.1),
      inset 0 4px 7px 0 rgba($color: #d3bfff, $alpha: 0.25);
    border: 1px solid rgba($color: #a37ff6, $alpha: 0.3);
  }
}